{% extends "layout.html" %}

{% block content %}
<main role="add-field" id="add-field" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Add Fields For Entry</h1>
    </div>

    <div class="row">
        <div class="col-md-6 com-sm-12">
            <form action="#" method="post" name="adding-input-field" id="adding-input-field">
                <div class="form-group">
                    <label for="FieldLabel">Label</label>
                    <input type="text" class="form-control" id="FieldLabel" name="fieldLabel" aria-describedby="nameHelp">
                </div>
                <div class="form-group">
                    <label for="FieldName">Name</label>
                    <input type="text" class="form-control" id="FieldName" name="fieldName" aria-describedby="nameHelp">
                </div>
                <div class="form-group">
                    <label for="FieldPlaceholder">Placeholder</label>
                    <input type="text" class="form-control" id="FieldPlaceholder" name="fieldPlaceholder" aria-describedby="nameHelp">
                </div>
                <div class="form-group">
                    <label for="FeildType">Select Feild Type</label>
                    <select class="form-control" id="FeildType" name="fieldType">
                        <option value="text">Text Feild</option>
                        <option value="email">Email</option>
                        <option value="number">Number</option>
                        <option value="password">Password</option>
                        <option value="select">Select Box</option>
                    </select>
                </div>
                <div class="form-group d-none" id="select-box-option-container">
                    <label for="SelectOption">Enter Options</label>
                    <input type="text" class="form-control" id="SelectOption" aria-describedby="nameHelp" name="selectOptions"
                           placeholder="Example: Option 1, Option2, Option 3...."
                    >
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="IsRequired" name="isRequired">
                    <label class="form-check-label" for="IsRequired">
                        Required ?
                    </label>
                </div>
                <button type="submit" class="mt-4 btn btn-primary">Add Field</button>
            </form>
        </div>

        <div class="col-md-6 com-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feilds Preview :</h5>
                    <div id="field-preview">

                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" id="PostFields">Submit</button>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}

