{% extends "layout.html" %}

{% block content %}

    <main role="main" id="dashboard" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" >
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {% endif %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>

        <div class="row">
          <div class="col-md-6 com-sm-12">
            <div class="card">
              <div class="card-body">
                 <h5 class="card-title">Place Your Hand In Front Of Sensor : <span class="card-subtitle mb-2 text-muted text-right float-right h5">Status: Offline</span></h5>
                <img src="./scanning-bg.png" alt=""  width="400" class="img-fluid mx-auto d-block">
              </div>
            </div>
          </div>
          <div class="col-md-6 com-sm-12">
            <form id="user-data-form" method="post" action="">
              <button type="submit" class="btn btn-success" {% if error %} disabled {% endif %}>Submit</button>
            </form>
<!--            <button type="submit" class="btn btn-primary" id="submitDatabase">Submit to Database only</button>-->
<!--            <button type="submit" class="btn btn-success" id="submitDatabaseAndHRM">Submit to Database and HRM</button>-->
          </div>
        </div>
    </main>

{% endblock %}

{% block scripts %}

<script>
  $(document).ready(function(){
    $("#user-data-form").submit(function (event){
      event.preventDefault();
      $("#myModal").modal('show')
      $.ajax({
        url: '/postHRM',
        type: 'post',
        data: $("#user-data-form").serialize(),
        success: function (response){
          console.log(response)
          var success = `
            <div class="modal-content alert alert-success" role="alert">
              <span data-feather="check" class="d-block mx-auto"></span>
               <h4 class="alert-heading text-center">Data Success Fully Uploaded</h4>
               <h6 class="text-center">message from server: ${response.message}</h6>
            </div>
          `;

          var failed = `
            <div class="modal-content alert alert-danger" role="alert">
              <span data-feather="x-circle" class="d-block mx-auto"></span>
               <h4 class="alert-heading text-center">Unable to upload Data to the server</h4>
               <h6 class="text-center">message from server: ${response.message}</h6>
            </div>
          `;

          if(response.httpCode >=200 && response.httpCode <300 ){
            $(".modal-dialog").html(success)
          }
          else if(response.httpCode >=400 && response.httpCode <500){
            $(".modal-dialog").html(failed)
          }else{
            alert("Server Problem");
          }
        }
      });
    })
  })
</script>

{% endblock %}