<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/dashboard.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <style>
        #loader{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,0.7);
            position: absolute;
            top:0;
            left: 0;
            z-index: 10;
        }
    </style>
</head>
<body style="overflow-x: hidden; ">
{% include "/components/top-navigation.html"%}

{% if session['isAuthenticated'] %}
<div class="container-fluid">
    <div class="row">
        {% include "/components/navigation.html" %}
        {% block content %}{% endblock %}
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        {% block notlogged %}{% endblock %}
    </div>
</div>

{% endif %}

<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content alert alert-warning" role="alert">
      <span data-feather="send" class="d-block mx-auto"></span>
       <h4 class="alert-heading text-center">Processing Please Wait.</h4>
    </div>
  </div>
</div>

<div class="w-100 h-100" id="loader">
    <img src="{{ url_for('static', filename='/images/loader.gif') }}" alt="" class="img-fluid">
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script>

</script>
<script src="js/dashboard.js"></script>

{% block scripts %} {% endblock %}
</body>
</html>