<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/dashboard.css') }}">
    <title>Login</title>
</head>
<body>
<main role="login" id="login" class="col-md-12 ml-sm-auto col-lg-12 ">
    <div class="mt-md-5 pt-md-5">
        <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="" class="img-fluid d-block img-responsive mx-auto">
    </div>
  <div class="card w-50 mx-auto mt-md-3">
      <form action="">
        <div class="card-body">
          <div class="form-group">
            <label for="admin-username">Username</label>
            <input type="text" id="admin-username" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="admin-password">Password</label>
            <input type="password" id="admin-password" class="form-control" required>
          </div>
        </div>
        <div class="card-footer">
      <button type="submit" class="btn btn-success mx-auto d-block" disabled>Login</button>
    </div>
      </form>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script>
    sessionStorage.removeItem('isAuthenticated');
    $(document).ready(function (){
       $('button[type="submit"]').removeAttr('disabled');
    });
    $("form").submit(function (event){
       event.preventDefault();
        var name = $("#admin-username").val();
        var password = $("#admin-password").val();

        $.ajax({
            url: "/login",
            type: "post",
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                if(response.status >= 400){
                    alert(JSON.stringify(response.message));
                }
                if( response.status >= 200){
                    console.log(response)
                    sessionStorage.setItem('isAuthenticated', true);
                    window.location.replace('/');
                }
            },
            data: JSON.stringify({"name": name, "password": password})
        });
    });
    function Authenticate(){
        var name = $("#admin-username").val();
        var password = $("#admin-password").val();

    }
</script>
</body>
</html>