{% extends "layout.html" %}

{% block content %}
<main role="map-hrm-fields" id="map-hrm-fields" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <div id="mapped-fields-container">
        <div class="row">
            <div class="col-md-5 com-sm-12 pt-4">
                <h2>IOT Fields: </h2>
                <div class="form-group">
                    <label>Feild Name</label>
                    <select class="form-control user-field" id="userfield0" name="userfield0" aria-describedby="nameHelp">

                    </select>

                </div>
            </div>
            <div class="col-md-2 com-sm-12 d-flex justify-content-center align-items-center"><h5><- TO -></h5></div>
            <div class="col-md-5 com-sm-12 pt-4">
                <h2>ERP Fields: </h2>
                <div class="form-group">
                    <label>Feild Name</label>
                    <select class="form-control hrm-field" id="hrmfield0" name="hrmfield0" aria-describedby="nameHelp">
                    </select>
                </div>
            </div>

        </div>
    </div>
    <button class="btn btn-dark" onclick="AddMoreMapFields()">Add Mapping field</button>
    <button class="btn btn-dark" onclick="SaveHRMMapFields()">Save Mapping</button>
<!--    <button class="btn btn-dark" onclick="ClearHRMMapping()">Clear Mapping</button>-->
<!--    <button class="btn btn-dark" onclick="ViewHRMMapping('sap_success_factor')">View Mapping</button>-->

</main>
{% endblock %}

{% block scripts %}
<script>
    let counter = 1;
    let totalFields = 0;
    let HRMMappedFields = [];
    let UserFields = "<option value='null'>User Fields Not Set</option>";
    let HRMFields = "<option value='null'>HRM Fields Not Set</option>";
    $(document).ready(function (){
       getHRMFields('SAPfields');
       getUserFields();
    });

    function AddMoreMapFields(){
        const formField = `
    <div class="row">
          <div class="col-md-5 com-sm-12">
              <div class="form-group">
                <label>Feild Name</label>
                <select class="form-control user-field" id="userfield${counter}" name="userfield${counter}" aria-describedby="nameHelp">

                </select>

              </div>
          </div>
          <div class="col-md-2 com-sm-12 d-flex justify-content-center align-items-center"><h5><- TO -></h5></div>
          <div class="col-md-5 com-sm-12">
            <div class="form-group">
              <label>Feild Name</label>
              <select class="form-control hrm-field" id="hrmfield${counter}" name="hrmfield${counter}" aria-describedby="nameHelp">

              </select>
            </div>
          </div>

    </div>
  `     ;
        totalFields--;

        if(totalFields > 0) {
            console.log("no fields to map")

            $("#mapped-fields-container").append(formField);
            $(`#userfield${counter}`).html($("#userfield0").html());
            $(`#hrmfield${counter}`).html($("#hrmfield0").html());
            counter++;
        }else{
            alert("No more Fields to map!!")
        }


    }


    function SaveHRMMapFields(){
        let fields = {};
        $("#mapped-fields-container .row").each(function (ele){
            hrmField = $("#hrmfield"+ele).val();
            userField = $("#userfield"+ele).val();
            fields[hrmField] = userField;
        });
        HRMMappedFields.push(fields);

        if(HRMMappedFields.length > 0) {
            $.ajax({
                url: '/api/sap',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    alert("Successfully Mapped: "+JSON.stringify(data))
                },
                error: function (data, status, error) {
                    alert("Not Successful: " + error)
                },
                data: JSON.stringify(HRMMappedFields)
            });
        }else{
            alert("not successfull");
        }
        console.log(fields);
    }

    function getUserFields(){
        let data = "";
        $.ajax({
            url:'/api/getJson/fields',
            type: 'get',
            dataType: 'json',
            success: function(response){
                response.forEach(function (element){
                    totalFields++;
                    $('.user-field').append(`<option value="${element.name}">${element.label}</option>`);
                });
            },
            error: function (message, error){
                alert(error);
            }
        });
    }

    function getHRMFields(filename){
        let data = "";
        $.ajax({
            url:`/api/getJson/${filename}`,
            type: 'get',
            dataType: 'json',
            success: function(response){
                response.forEach(function (element){
                    $.each(element, function (key, value){
                        $(".hrm-field").append(`<option value="${key}">${value}</option>`);
                    });
                });
            },
            error: function (response, error){
                alert(error);
            }
        });
    }

    function ClearHRMMapping(){
        $.ajax({
            url:'/api/clearSapMappings',
            method: 'post',
            success: (response) => {
                alert(JSON.stringify(response));
            },
            error: (error) => {
                alert(JSON.stringify(error))
            }
        })
    }

    function ViewHRMMapping(hrmname){
        $.ajax({
            url:`/api/getJson/${hrmname}`,
            type: 'get',
            dataType: 'json',
            success: function(response){
                alert(JSON.stringify(response));
            },
            error: function (error){
                alert(JSON.stringify(error))
            }
        })

    }
</script>
{% endblock %}