{% extends "layout.html" %}

{% block content %}
<main role="settings" id="settings" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Settings</h1>
    </div>

    <form action="/settings" method="post">
        <div class="form-group">
            <div class="row">
                <label for="BrandingText" class="col-2">Enter Your Brand Here : </label>
                <input type="text" class="form-control col-6" id="BrandingText" name="branding" aria-describedby="nameHelp" value="{{data.branding}}">
                <div class="col-3">
                    <button type="submit"><span data-feather="check"></span></button>
                    <span data-feather="x"></span>
                </div>

            </div>
        </div>
    </form>

    <div class="form-group">
        <div class="row">
            <div class="col-5">
                <label for="Username">Enter Your Username Here : </label>
                <input type="text" class="form-control" id="Username" name="userName" aria-describedby="nameHelp" value="">
            </div>

            <div class="col-5">
                <label for="Password">Enter Your Password Here : </label>
                <input type="password" class="form-control" id="Password" name="password" aria-describedby="nameHelp" value="">
            </div>

            <div class="col-2">
                <span data-feather="check"></span>
                <span data-feather="x"></span>
            </div>
        </div>
    </div>
</main>
{% endblock %}