<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/" onclick="routing(this)">
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-field" onclick="routing(this)">
                    <span data-feather="file"></span>
                    Add Input Fields
                </a>
            </li>

<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/add-hrm" onclick="routing(this)">-->
<!--                    <span data-feather="file"></span>-->
<!--                    Add HRM Fields-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/map-hrm" onclick="routing(this)">
                    <span data-feather="file"></span>
                    Map HRM Fields
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings" onclick="routing(this)">
                    <span data-feather="file"></span>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>