<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"><img src="{{ url_for('static', filename='/images/logo.png') }}" class="img-fluid" alt=""></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

                {% if session['isAuthenticated'] %}
                <a class="nav-link" href="/logout"> Sign Out</a>
                {% else %}
                <a class="nav-link" href="/login"> Sign In</a>
                {% endif %}
        </li>
    </ul>
</nav>

{% block scripts %}
{% endblock %}