{% extends "layout.html" %}
{% block content %}

<!-- Begin Page Content -->
    <div class="container-fluid">

<!--      &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--      <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>-->
<!--        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
<!--      </div>-->


      <!-- Content Row -->

      <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-6 col-sm-12">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Add/Edit ERP Fields Here:</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body" style="height: 460px; overflow-y: scroll;">
              <form action="#" method="post" name="adding-input-field" id="adding-input-field">
                <div class="form-group">
                    <label for="FieldLabel">Label</label>
                    <input type="text" class="form-control" id="FieldLabel" name="fieldLabel" aria-describedby="nameHelp">
                </div>
                <div class="form-group">
                    <label for="FieldName">Name</label>
                    <input type="text" class="form-control" id="FieldName" name="fieldName" aria-describedby="nameHelp">
                </div>
                <button type="submit" class="mt-4 btn btn-primary no-padding">Add Field</button>
            </form>
            </div>
          </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-6 col-lg-6 col-sm-12">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Preview Fields:</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body" style="height: 460px; overflow-y: scroll;" id="field-preview">


            </div>
          </div>
        </div>
      </div>

    </div>
<!-- /.container-fluid -->

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function (){

        fieldJson = [];

        //Fetches Fields From JSON, saves it to session storage and displays it in frontend
        $.ajax({
            url: '/api/getJson/SAPfields',
            type: 'get',
            success: function (response){
                console.log(sessionStorage.getItem('erp-fields'))
                if(sessionStorage.getItem('erp-fields') != null){
                    fieldJson = JSON.parse(sessionStorage.getItem('erp-fields'));
                }else{
                    fieldJson= response;
                    sessionStorage.setItem('erp-fields', JSON.stringify(response));
                }

                $.each(fieldJson, function (key, value){
                        console.log(value);
                      $("#field-preview").append( `<div>${ConstructFormFeild(value, key, "text",  "ERP Field", false, true, true )}</div>`);

                });
            },
            error: function (error){
                alert(JSON.stringify(error));
            }
        });

        $("#field-preview").on("click", "#delete-input-field", function (){
            $(this).parent().parent().parent().parent().remove();
            var name = $(this).data('fieldname');
            let temp={};
            $.each(fieldJson, (key, value)=>{if(key!=name){
                temp[key] = value;
            }});
            fieldJson = temp;

            sessionStorage.setItem('erp-fields', JSON.stringify(fieldJson));
            $.ajax({
                url: '/api/postJson/SAPfields',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                  alert(JSON.stringify(data));
                },
                error: function (data,status,error){
                  alert(JSON.stringify(data)+" //"+JSON.stringify(error));
                },
                data: JSON.stringify(fieldJson)
              });

        });

        $("#field-preview").on("click", "#edit-input-field", function (){
            var name = $(this).data('fieldname');

            $.each(fieldJson, (key, label)=>{
                if(key == name){
                    $("#FieldLabel").val(label)
                    $("#FieldName").val(key)
                }
            });

            $(this).parent().parent().parent().parent().remove();

        });


        $("#adding-input-field").submit(function (event){
            event.preventDefault();
            var fieldLabel = event.target.fieldLabel.value;
            var fieldName = event.target.fieldName.value;
            fieldName = fieldName.replace(" ", "-").trim();
            fieldName.autocapitalize;
            var temp =fieldJson;
            temp[fieldName] = fieldLabel

          $("#field-preview").append( `<div>${ConstructFormFeild(fieldLabel, fieldName, "text", "ERP Field Added", false, true, true )}</div>`);
            fieldJson = temp
            $.ajax({
                url: '/api/postJson/SAPfields',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                  alert(JSON.stringify(data));
                  sessionStorage.setItem('erp-fields', JSON.stringify(fieldJson))
                },
                error: function (data,status,error){
                  alert(JSON.stringify(data)+" //"+JSON.stringify(error));
                },
                data: JSON.stringify(fieldJson)
              });
          });

    });
</script>
{% endblock %}
