{% extends "layout.html" %}
{% block content %}

<!-- Begin Page Content -->
    <div class="container-fluid">

      {% if error %}
        <div class="alert alert-danger mt-5" role="alert">
          {{error}}
        </div>
      {% endif %}
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="generateReport"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
      </div>

      <!-- Content Row -->

      <div class="row">

        <!-- ArtWork Area -->
        <div class="col-xl-5 col-lg-5">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Place Your Hand In-Front Of Sensor</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <img src="{{ url_for('static', filename='/img/palm.jpeg') }}" alt="" class="img-fluid img-responsive d-block mx-auto"style="max-height: 363px;">
            </div>
          </div>
        </div>

        <!-- Fields Area -->
        <div class="col-xl-7 col-lg-7">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Form Fields</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body " style="height: 400px; overflow-y: scroll;">
              <form id="user-data-form" method="post" action="">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <label for="saveOption">Save option :</label>
                    </div>
                      <div class="col-md-12 col-sm-12">
                        <select name="saveOption" class="form-control form-control-user" id="saveOption" required="${isRequired}">
                          <option value="database" selected>Save to Database</option>
                          <option value="database-cloud" selected>Save to Database and Cloud</option>
                          <option value="database-erp" selected>Save to Database, Cloud and ERP</option>
                        </select>
                      </div>
                    </div>
                  </div>
              <button type="submit" class="btn btn-success w-100" {% if error %} disabled {% endif %}>Submit</button>
              <span onclick="resetForm()"  class="btn btn-danger w-100 mt-3" {% if error %} disabled {% endif %}>Reset Fields</span>
            </form>
            </div>
          </div>
        </div>
      </div>

    </div>
<!-- /.container-fluid -->

{% endblock %}

{% block scripts %}

<script>
  $(document).ready(function(){
    $("#user-data-form").submit(function (event){
      event.preventDefault();
      $("#myModal").modal('show')
      $.ajax({
        url: '/postHRM',
        type: 'post',
        data: $("#user-data-form").serialize(),
        success: function (response){
          console.log(response)
          var success = `
            <div class="modal-content alert alert-success" role="alert">
              <span class="d-block mx-auto"><i class="fas fa-w fa-check"></i></span>
               <h4 class="alert-heading text-center">Data Success Fully Uploaded</h4>
            </div>
          `;

          var failed = `
            <div class="modal-content alert alert-danger" role="alert">
              <span data-feather="x-circle" class="d-block mx-auto"></span>
               <h4 class="alert-heading text-center">Unable to upload Data to the server</h4>
               <h6 class="text-center">message from server: ${response.message}</h6>
            </div>
          `;

          if(response.httpCode >=200 && response.httpCode <300 ){
            $("#myModalMessage .modal-dialog").html(success)
          }
          else if(response.httpCode >=400 && response.httpCode <500){
            $("#myModalMessage .modal-dialog").html(failed)
          }else{
          }
          $("#myModalMessage").modal('show')
          $("#myModal").modal('hide')

          $("#user-data-form").trigger("reset")
        }
      });
    })

    $("#generateReport").click(function (event){
       $("#dataTable").modal('show');
      $.ajax({
        url:'/api/renderCSV',
        type: "get",
        success: function (response){
          console.log(response)
          if(response.status == 200){

              data = response.data
              $(".table-responsive").html(data);
              $(".table-responsive table").addClass("table table-bordered")
          }else{
            alert(JSON.stringify(response.message))
          }
        }
      })
    });
  })

</script>

{% endblock %}

