<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IOT - Dashboard</title>

   <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='/css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->

      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <span>
          <a class="" href="/">
            <img src="./img/logo.png" alt="" class="img-fluid d-block">
          </a>

          <!-- Dropdown - User Information -->
        </span>


        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - User Information -->
          <li class="nav-item ">
            <a class="nav-link" href="javascript:void(0)">
              Sensor : <span class="text-danger ml-2">Offline</span>
            </a>

            <!-- Dropdown - User Information -->
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>
          <!-- Nav Item - User Information -->
          <li class="nav-item ">
             {% if session['isAuthenticated'] %}
            <a class="nav-link" href="/logout"> Sign Out</a>
            {% else %}
            <a class="nav-link" href="/login"> Sign In</a>
            {% endif %}
            <!-- Dropdown - User Information -->
          </li>

        </ul>

      </nav>
        <!-- End of Topbar -->

       <!-- Begin Page Content -->
    <div class="container-fluid">

        {% if error %}
        <div class="alert alert-danger mt-5" role="alert">
          {{error}}
        </div>
      {% endif %}
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      </div>

      <!-- Content Row -->

      <div class="row">

        <!-- ArtWork Area -->
        <div class="col-xl-5 col-lg-5">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Place Your Hand In-Front Of Sensor</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <img src="{{ url_for('static', filename='/img/palm.jpeg') }}" alt="" class="img-fluid img-responsive d-block mx-auto"style="max-height: 363px;">
            </div>
          </div>
        </div>

        <!-- Fields Area -->
        <div class="col-xl-7 col-lg-7">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Form Fields</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body " style="height: 400px; overflow-y: scroll;">
              <form id="user-data-form" method="post" action="">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <label for="saveOption">Save option :</label>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <select name="saveOption" class="form-control form-control-user" id="saveOption" required="${isRequired}">
                        <option value="database" selected>Save to database</option>
                        <option value="database-erp" selected>Save to database and ERP</option>
                      </select>
                    </div>
                  </div>
                  </div>
              <button type="submit" class="btn btn-success w-100" {% if error %} disabled {% endif %}>Submit</button>
              <span onclick="resetForm()" class="btn btn-danger w-100 mt-3" {% if error %} disabled {% endif %}>Reset Fields</span>
            </form>
            </div>
          </div>
        </div>
      </div>

    </div>
<!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
<!--      <footer class="sticky-footer bg-white">-->
<!--        <div class="container my-auto">-->
<!--          <div class="copyright text-center my-auto">-->
<!--            <span>Copyright &copy; Your Website 2020</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </footer>-->
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content alert alert-warning" role="alert">
      <span class="d-block mx-auto"> <i class="fas fa-w fa-send-o"></i></span>
       <h4 class="alert-heading text-center">Processing Please Wait.</h4>
    </div>
  </div>
</div>

   <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='/js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='/js/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='/js/sb-admin-2.min.js')}}"></script>
  <script src="{{ url_for('static', filename='/js/dashboard.js')}}"></script>

  <script>
    $(document).ready(function(){
    $("#user-data-form").submit(function (event){
      event.preventDefault();
      $("#myModal").modal('show')
      $.ajax({
        url: '/postHRM',
        type: 'post',
        data: $("#user-data-form").serialize(),
        success: function (response){
          console.log(response)
          var success = `
            <div class="modal-content alert alert-success" role="alert">
              <span class="d-block mx-auto"><i class="fas fa-w fa-check"></i></span>
               <h4 class="alert-heading text-center">Data Success Fully Uploaded</h4>
            </div>
          `;

          var failed = `
            <div class="modal-content alert alert-danger" role="alert">
              <span data-feather="x-circle" class="d-block mx-auto"></span>
               <h4 class="alert-heading text-center">Unable to upload Data to the server</h4>
               <h6 class="text-center">message from server: ${response.message}</h6>
            </div>
          `;

          if(response.httpCode >=200 && response.httpCode <300 ){
            $(".modal-dialog").html(success)
          }
          else if(response.httpCode >=400 && response.httpCode <500){
            $(".modal-dialog").html(failed)
          }else{
          }
          $("#user-data-form").trigger("reset")
        }
      });
    })

  })
  </script>

</body>

</html>
