
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IOT - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='/css/sb-admin-2.min.css') }}" rel="stylesheet">

  {% block style %}{% endblock %}

  <style>
        #loader{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,0.7);
            position: absolute;
            top:0;
            left: 0;
            z-index: 10;
        }
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    {% include "./components/side-navigation.html" %}
    <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      {% include "./components/top-navigation.html" %}
      <!-- End of Topbar -->
        {% block content %}{% endblock %}

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
<!--      <div class="container my-auto">-->
<!--        <div class="copyright text-center my-auto">-->
<!--          <span>Copyright &copy; Your Website 2020</span>-->
<!--        </div>-->
<!--      </div>-->
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content alert alert-warning" role="alert">
      <span data-feather="send" class="d-block mx-auto"></span>
       <h4 class="alert-heading text-center">Processing Please Wait.</h4>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-lg" id="myModalMessage" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content alert alert-warning" role="alert">
    <span data-feather="send" class="d-block mx-auto"></span>
     <h4 class="alert-heading text-center">Processing Please Wait.</h4>
  </div>
</div>
</div>

  <div class="modal fade bd-example-modal-lg" id="dataTable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">IOT Report:
              </h6>
              <span class="btn btn-circle btn-success" id="downloadCSV"><i class="fas fa-w fa-download"></i></span>
            </div>
            <div class="card-body">
              <div class="table-responsive">

              </div>
            </div>
          </div>
    </div>
  </div>
</div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='/js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='/js/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='/js/sb-admin-2.min.js')}}"></script>
  <script src="{{ url_for('static', filename='/js/dashboard.js')}}"></script>

{% block scripts %} {% endblock %}

</body>

</html>
