{% extends "layout.html" %}
{% block content %}

<!-- Begin Page Content -->
    <div class="container-fluid">

<!--      &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--      <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>-->
<!--        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
<!--      </div>-->


      <!-- Content Row -->

      <div class="row">

        <!--    USER FIELDS BELOW      -->
        <div class="col-xl-5 col-lg-5 col-sm-12">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">IOT Fields:</h6>
<!--                <span class="btn-circle btn-success btn-sm add-fields-to-map"><i class="fas fa-w fa-plus"></i></span>-->
            </div>
            <!-- Card Body -->
            <div class="card-body" style="height: 460px; overflow-y: scroll;">
                <input type="hidden" name="totalFields" id="totalFields" value="0">
              <div id="user-fields-container">


                    <div class="form-group">
                        <label>Feild Name</label>
                        <select class="form-control user-field" id="userfield0" name="userfield0" aria-describedby="nameHelp">

                        </select>
                    </div>

    </div>
            </div>
          </div>
        </div>

          <!--  Spacer  -->
        <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center">
              <span class="mapped-to" style="font-size: 3rem;"><i class="fas fa-w fa-2x fa-random"></i></span>
          </div>

        <!--    ERP FIELDS BELOW      -->
        <div class="col-xl-5 col-lg-5 col-sm-12">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">ERP Fields:</h6>
<!--                <span class="btn-circle btn-success btn-sm add-fields-to-map"><i class="fas fa-w fa-plus"></i></span>-->
            </div>
            <!-- Card Body -->
            <div class="card-body" style="height: 460px; overflow-y: scroll;">
              <div id="erp-fields-container">


                <div class="form-group">

                  <label>Feild Name</label>
                  <select class="form-control hrm-field" id="hrmfield0" name="hrmfield0" aria-describedby="nameHelp">

                  </select>


                </div>

    </div>
            </div>
          </div>
        </div>

      </div>

        <div class="row">
            <div class="col-12 mb-5">
                <div class="buttons-container d-flex justify-content-center">
                    <button class="btn btn-circle btn-lg btn-warning add-fields-to-map"><i class="fas fa-w fa-plus"></i></button>
                    <button class="btn btn-circle btn-lg btn-success mx-4 submit-field-for-mapping"><i class="fas fa-w fa-check"></i></button>
                    <button class="btn btn-circle btn-lg btn-danger reset-fields"><i class="fas fa-w fa-trash-alt"></i></button>

                </div>
            </div>
        </div>

    </div>
<!-- /.container-fluid -->

{% endblock %}

{% block style %}
<style>
    @media (max-width: 500px) {
        .mapped-to{
            padding: 20px 0px;
            transform: rotate(90deg);
        }
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function (){
        //Variable Definations.
        let counter = 1;
        let totalFields = 0;
        fieldJson = [];

        //InitFunction Handling
        getHRMFields('SAPfields');
        getUserFields();

        // Adds Field For Mapping
        $(".add-fields-to-map").click(function (){

            if(counter > parseInt($("#totalFields").val()) )return;

            //Appends User FIELDS
            $("#user-fields-container").append(`
            <div class="form-group">
                        <label>Feild Name</label>
                        <select class="form-control user-field" id="userfield${counter}" name="userfield${counter}" aria-describedby="nameHelp">
                        </select>
                    </div>
            `)
            //Appends ERP FIELDS
            $("#erp-fields-container").append(`
<div class="form-group"><label>Feild Name</label><select class="form-control hrm-field" id="hrmfield${counter}" name="hrmfield${counter}" aria-describedby="nameHelp"></select></div>`)

            $(`#userfield${counter}`).html($("#userfield0").html());
            $(`#hrmfield${counter}`).html($("#hrmfield0").html());

            counter++;

        });

        $(".submit-field-for-mapping").click(function (){
            let mapped = {};
            let fields = []
            $("#user-fields-container .form-group").each(function (index){
                let label = {};
                let value = {};
                hrmFieldLabel = $(`#hrmfield${index} > option:selected`).html()
                hrmFieldValue = $("#hrmfield"+index).val();
                userFieldLabel = $(`#userfield${index} > option:selected`).html()
                userFieldValue = $("#userfield"+index).val();
                mapped[hrmFieldValue] = userFieldValue;
                label[hrmFieldLabel] = userFieldLabel;
                value[hrmFieldValue] = userFieldValue;
                fields.push({label, value });
            });

            if(Object.keys(mapped).length > 0) {
                $.ajax({
                    url: '/api/sap',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        alert("Successfully Mapped: "+JSON.stringify(data))
                    },
                    error: function (data, status, error) {
                        alert("Not Successful: " + JSON.stringify(error))
                    },
                    data: JSON.stringify(mapped)
                });
            }else{
                alert("not successfull");
            }
        });

        $('.reset-fields').click(function(){
            $.ajax({
                url: '/api/clearSapMappings',
                type: 'post',
                success: function (response){
                    alert(JSON.stringify(response))
                }
            })
        })

    });

    function getUserFields(){

        let totalFields = 0;
        $.ajax({
            url:'/api/getJson/fields',
            type: 'get',
            dataType: 'json',
            success: function(response){
                response.forEach(function (element){
                    totalFields++;
                    $('.user-field').append(`<option value="${element.name}">${element.label}</option>`);
                });
                $("#totalFields").val(totalFields);
            },
            error: function (message, error){
                alert(JSON.stringify(error));
            }
        });
    }

    function getHRMFields(filename){
        let data = "";
        $.ajax({
            url:`/api/getJson/${filename}`,
            type: 'get',
            dataType: 'json',
            success: function(response){
                console.log(response)

                $.each(response, function (key, value){
                    $(".hrm-field").append(`<option value="${key}">${value}</option>`);
                });

            },
            error: function (response, error){
                alert(error);
            }
        });
}
</script>
{% endblock %}
