{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <h2 class="">Settings</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="image">Upload Brand Image</label>
        <input type="file" id="image" name="brand">
        <button type="submit">set</button>
    </form>
</div>

{% endblock %}