
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-text mx-3"><img src="{{ url_for('static', filename='/img/logo.png') }}" alt="" class="img-fluid img-responsive"></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>


  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="/add-field">
      <i class="fas fa-fw fa-plus-square"></i>
      <span>Add Input Fields</span>
    </a>
  </li>

   <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="/add-hrm">
      <i class="fas fa-fw fa-pen-fancy"></i>
      <span>Add ERP Fields</span>
    </a>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="map-erp">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Map ERP Fields</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="/settings">
      <i class="fas fa-fw fa-cog"></i>
      <span>Settings</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
<!--  <div class="text-center d-none d-md-inline">-->
<!--    <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
<!--  </div>-->

</ul>
<!-- End of Sidebar -->
