
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>


        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - User Information -->
          <li class="nav-item ">
            <a class="nav-link" href="javascript:void(0)">
              Sensor : <span class="text-danger ml-2">Offline</span>
            </a>

            <!-- Dropdown - User Information -->
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>
          <!-- Nav Item - User Information -->
          <li class="nav-item ">
             {% if session['isAuthenticated'] %}
            <a class="nav-link" href="/logout"> Sign Out</a>
            {% else %}
            <a class="nav-link" href="/login"> Sign In</a>
            {% endif %}
            <!-- Dropdown - User Information -->
          </li>

        </ul>

      </nav>